.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* navbar */

.flex{
  display: flex;
}

/* home page */

.gridContainer{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.mobileImage{
  height: 100px;
  width: 100px;
}

.cardContainer{

}


/* details page */

.productDetailsGrid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.detailContainer {
  display: flex;
  justify-content: space-between;
}

.relatedProductDetails{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

/* all products */

.allProductsContainer{
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.check{
}

.browsebutton{
  width: 50px;
  border: 1px solid black !important;
  border-radius: 50% !important;
  font-size: 10px !important;
  cursor: pointer !important;
  appearance: none;
}
